/* header start */
.nav-container{
	height:170px;
	background-color: #eee;
}

/* nav-top start */
.nav-top{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #dfdfdf;
	background-color: #e3e4e5;
}

/* user-address start */
.user-address{
	float: left;
	width: 260px;
	height: 30px;
	text-align: right;
	position: relative;
}
.user-address-current{
	height: 30px;
}
.user-address-current a.link-active{
	height: 30px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-right: 0px;
	padding-left: 22px;
	background: url('../img/address.png') no-repeat 5px 9px;
	background-color: #fff;
	line-height: 29px;
}
.current-address-item{
	display: block;
	width: 40px;
	float: right;
	text-align: left;
	position: relative;
	background: url('../img/address.png') no-repeat 6px 10px;
	padding: 0 1px 0 23px;
	z-index: 10;
}
.current-link-active{
	border-bottom: 1px solid #fff;
}
.user-address-list{
	display: none;
	position: absolute;
	width: 300px;
	height: 216px;
	padding: 10px 0px;
	border: 1px solid #ccc;
	line-height: 14px;
	top: 30px;
	left: 196px;
	box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	background-color: #fff;
	z-index: 2;
}
.user-address-list li{
	width: 60px;
	float: left;
	text-align: center;
}
.user-address-list li a{
	display: inline-block;
	padding: 8px;
}
.user-address-list li a:hover{
	display: inline-block;
	padding: 8px;
	background-color: #eee;
}
.user-address-list li a.current-address-link {
    background-color: #F1021A;
    color: #fff;
}

/* top-list start */
.top-list{
	float: left;
	margin-left: 220px;
}
.top-list .link-split{
	margin: 0 5px;
}
.top-list-item{
	float: left;
	text-align: center;
	position: relative;
}
.top-list-item a{
	display: inline-block;
	padding: 0 6px;
}
.top-list-item a.active{
	background-color: #fff;
}
.top-list-item .top-list-content{
	height: 30px;
	float: left;
}
.top-list-item .icon-arrow{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-top: 10px;
	margin-left: 4px;
	background: url('../img/arrow.png') no-repeat;
}
.top-list-item .top-list-submit{
	color: #f10215;
	font-family: verdana\,simsun;
}
.top-list-item .top-list-submit:hover{
	color:#c81623;
}

/* top-list-jd start */
.top-list-item .top-list-myhome{
	position: absolute;
	width: 200px;
	height: 160px;
	left: 0;
	top: 30px;
	display: none;
	background-color: #fff;
	padding-top: 10px;
	border: 1px solid #ccc;
	z-index: 10;
}
.top-list-item a.link-active{
	height: 30px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #fff;
	line-height: 29px;
	position: relative;
	z-index: 10;
}
.top-list-item .link-active .icon-arrow{
	background-position: 0px -1px;
}
.top-list-jd .top-list-myhome li{
	float: left;
	padding: 0 10px;
	line-height: 24px;
	width: 80px;
	text-align: left;
	/* padding-left: 10px */
}
.top-list-jd .top-list-myhome .split-line{
	border-bottom: 1px solid #eee;
	width: 200px;
	padding: 0;
	height: 10px;
	margin-bottom: 10px;
}

/* top-list-service start */
.top-list-item .top-list-service{
	color: #666;
	cursor: default;
}
.top-list-item .top-list-service-content{
	position: absolute;
	width: 170px;
	height: 246px;
	left: -96px;
	top: 30px;
	display: none;
	background-color: #fff;
	/* padding-top: 10px; */
	border: 1px solid #ccc;
	z-index: 10;

}
.top-list-service-content ul h3{
	margin: 0;
	/* padding: 10px; */
	padding: 0;
	font-size: 12px;
	text-align: left;
	text-indent: 16px;
}
.top-list-service-content ul{
	float: left;
}
.top-list-service-content li{
	float: left;
	width: 77px;
	line-height: 24px;
	text-align: left;
	padding-left: 8px;
}

/* top-list-nav start */
.top-list-item .top-list-nav{
	color: #666;
	cursor: default;
}
.top-list-item .top-list-nav-content{
	position: absolute;
	width: 1190px;
	/* height: 180px; */
	right: -95px;
	top: 30px;
	display: none;
	background-color: #fff;
	padding: 10px 0px;
	border: 1px solid #ccc;
	z-index: 10;
}
.top-list-nav-content ul{
	float: left;
}
.top-list-nav-content li{
	float: left;
	text-align: left;
}
.top-list-nav-special{
	width: 340px;
	padding-left: 20px;
}
.top-list-nav-special li{
	width: 85px;
	line-height: 24px;
}
.top-list-nav-other{
	width: 255px;
	border-left: 1px solid #eee;
	padding-left: 20px;
}
.top-list-nav-special h3,.top-list-nav-other h3{
	line-height: 24px;
	margin: 5px;
	padding: 0;
	color: #666;
	text-align: left;
}
.top-list-nav-other ul{
	float: left;
}
.top-list-nav-other li{
	width: 85px;
	float: left;
	line-height: 24px;
}

/* top-list-phone start */
.top-list-phone .erweima-container{
	top: 30px;
	position: absolute;
    left: -4px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;

}
.top-list-phone .erweima-content{
	width: 60px;
	height: 60px;
	margin: 4px auto;
	background: #f6f6f6 url('../img/erweima.png') 50% no-repeat;
}
/* .mobile_pop:before, */
.erweima-content:before {
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}


/* nav-bot start */
.nav-bot{
	height: 140px;
	/* background-color: black; */
}
.nav-bot-logo{
	position: absolute;
	width: 190px;
	height: 170px;
	top: 0;
	left: 45px;
	background: url('../img/logo.v3.jpg');
}
.nav-bot-main{
	/* float: left; */
	margin-left: 190px;
	/* padding: 0; */
	/* margin-top: -1px; */
	width: 1000px;
	height: 140px;
	/* background: yellow; */
}
.nav-bot-main .nav-bot-search-container{
	height: 60px;
	position: relative;
}
.nav-bot-search-container .search-main{
	display: block;
	position: absolute;
    left: 130px;
    top: 25px;
    width: 550px;
    height: 35px;
    /* padding: 4px; */
	border: 1px solid #f10215;
	/* z-index: 0; */
	/* outline:none; */
    /* margin-top: 24px; */
    /* margin-left: 120px; */
/*     padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898; */
}
.search-main .search-content{
	outline: none;
	height: 27px;
	padding: 4px;
	width: 492px;
}

.nav-bot-search .search-btn{
	border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: 0px;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.search-btn .iconfont{
	margin-top: 7px;
	margin-left: 15px;s
}

.nav-bot-shopcart{
	position: absolute;
    right: 99px;
    top: 25px;
	width: 188px;
	height: 33px;
	border: 1px solid #e3e4e5;
	background-color: #fff;
}

.nav-bot-shopcart .cw-icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
.nav-bot-shopcart .cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
.nav-bot-shopcart .ci-count {
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
    font-style:normal;
}
.nav-bot-shopcart .cw-icon .iconfont {
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}

.nav-bot-main .nav-bot-advice{
	height: 20px;
	margin-top: 5px;
	margin-left: 130px;

}
.nav-bot-main .nav-bot-advice a{
	padding: 0 4px;
}
.nav-bot-main .nav-bot-advice .first-link{
	color: #f10215;
	padding-left: 0px;
}

.nav-bot-main .nav-bot-menu{
	width: 1000px;
	height: 40px;
	margin-top: 15px;
	position: relative;
	/* background-color: black; */
}
.nav-bot-main .nav-bot-menu ul{
	width: 1000px;
}
.nav-bot-main .nav-bot-menu ul li{
	float: left;
	margin-left: 30px;
	line-height: 45px;
	text-align: right;
}
.nav-bot-menu a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.nav-bot-menu a:hover {
    color: #c81623;
}
.nav-bot-main .nav-bot-menu .nav-bot-ad{
	/* position: absolute; */
    /* right: 0; */
    /* bottom: 0px; */
    margin-left: 0px;
    margin-top: -10px;
    width: 190px;
    height: 40px;
    /* z-index: 11; */
}
.nav-bot-ad-link{
	display: block;
    width: 190px;
    height: 40px;
    background: url('../img/nav-bot-ad.gif') center no-repeat;
}

/* main-nav start */
.main-nav{
	/* height: 480px; */
	background-color: yellowgreen;
}
.wrap{
position:relative;
width: 190px;
/* left: 45px; */
top: 0px;
}
.main-nav ul {
padding: 15px 0;
/* margin: 9px; */
list-style: none;
background: #6c6669;
color: #fff;
border-right-width: 0;
}
.main-nav li {
display: block;
height: 30px;
line-height: 30px;
padding-left: 12px;
cursor: pointer;
font-size: 14px;
position: relative;
}
.main-nav li.active{
background: #999395;
}
.main-nav li span a{
color: #fff;
}
.main-nav li span a:hover{
color: #c81623;
}
.main-nav .none{
display: none;
}
.main-nav #sub{
width: 600px;
position: absolute;
border: 1px solid #f7f7f7;
background: #f7f7f7;
box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
left: 190px;
top: 0;
box-sizing: border-box;
margin: 0;
padding-left: 10px;
}
.main-nav .sub_content a{
font-size: 12px;
color: #666;
text-decoration: none;
}
.main-nav .sub_content dd a{
border-left: 1px solid #e0e0e0;
padding-left:0 10px;
margin: 4px 0;
}
.main-nav .sub_content dl{
overflow: hidden;
}
.main-nav .sub_content dt{
float: left;
width: 70px;
font-weight: bold;
clear: left;
position: relative;
}
.main-nav .sub_content dd{
float: left;
margin-left: 5px;
border-top: 1px solid #eee;
margin-bottom: 5px;
}
.main-nav .sub_content dt i{
width: 4px;
height: 14px;
font: 400 9px/14px consolas;
position: absolute;
right: 5px;
top: 5px;
}


/*seckill start */
.seckill{
	height: 305px;
	background-color: blue;
}
/* guide start */
.guide{
	height: 444px;
	background-color: #A0DBDB;
}
/* coupon start */
.coupon{
	height: 270px;
	background-color: #FCEA90;
}
/* ad start */
.ad{
	height:100px;
	background-color: #838ED9;
}

/* catagory start */
.catagory-container{
	margin-bottom: 30px;
}
.catagory-container .item-top li a{
	color: #fff;
}
.catagory-item-left,.catagory-item-right{
	width: 590px;
	background-color: #fff;
}
.catagory-item-left{
	float: left;
}
.catagory-item-right{
	float: right;
}
.catagory-container .item-top{
	height: 26px;
	padding: 16px;
}
.catagory-container h3{
	margin: 0;
	padding: 0;
	float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family: fzzhengheis-el-gbregular;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.catagory-container .item-top h3 i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/pt_qrcode@1x.png');
	vertical-align: middle;
	margin-top: -3px;
	margin-left: 16px;
}
.catagory-container .item-top ul{
	float: right;
	margin-top: 4px;
	/* margin-left: 76px; */
}
.catagory-container .item-top ul li{
	float: left;
	padding: 0 10px;
	border: 1px solid #c187af;
	overflow: hidden;
	margin-left: 10px;
	background-color: hsla(0,0%,100%,.2);
}
.catagory-container .item-top ul li:hover{
	border: 1px solid #fff;
}
.catagory-container .item-mid li{
	float: left;
	width: 188px;
	height: 130px;
	position: relative;
}
.catagory-container .item-mid .item-mid-tit{
	position: absolute;
    top: 16px;
    left: 25px;
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.catagory-container .item-mid .item-mid-content{
	position: absolute;
    top: 40px;
    left: 25px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.catagory-container .item-mid .mid-item1{
	width: 183px;
	height: 260px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
/* .mid-item1 a img.move-left{
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	transition-duration: 600ms;
}
.mid-item1 a img.move-right{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	transition-duration: 600ms;
}
*/
.mid-item1 a{
	display: block;
	width: 183px;
	height: 260px;
	overflow: hidden;
}
.catagory-container .item-mid .mid-item2{
	position: relative;
	margin-top: 10px;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fff;
}
.item-mid-mid a img{
	display: inline-block;
	position: absolute;
	right: 6px;
	top: 22px;
}
.catagory-container .item-mid .mid-item3{
	margin-top: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.catagory-container .item-mid .mid-item4{
	border-right: 1px solid #e6e6e6;
}
.catagory-container .item-mid .mid-mid-bot{
	width: 183px;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
}

/* item-bot start */
.catagory-container .item-bot{
	height: 35px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}
.catagory-container .item-bot .item-bot-list{
	width: 2850px;
	position: absolute;
	left: -570px;
	/* width: 100 */
	/* margin-left: -100px; */
}
.item-bot li{
	width: 94px;
	height: 20px;
	float: left;
	margin-top:10px;
	line-height: 20px;
	border-right: 1px solid #eee;
	text-align: center;
}
.item-bot li:nth-child(6n){
	border-right: none;
}
.item-bot li a img{
	display: block;
	width: 70px;
	height: 35px;
	margin-left: 12px;
	margin-top: -7px;
	text-align: center;
}
.item-bot-arrow{
	display: none;
	z-index: 10;
	position: relative;
}
.iconfont{
    font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    /* -moz-osx-font-smoothing: grayscale */
}
.item-arrow{
    position: absolute;
    top: 4px;
    height: 35px;
    line-height: 35px;
    color: #736b6f;
    font-weight: 700;
    background: #fff;
    z-index: 10;
}
.bot-arrow-prev{
    left: -3px;
}
.bot-arrow-next{
    right: -3px;
}


/* all styles of catagory-items */
.catagory-item1 .item-top{
	background-color: #994576;
}
.catagory-item1 .item-mid li a{
	color:#994576;
}

.catagory-item2 .item-top{
	background-color: #cd375e;
}
.catagory-item2 .item-mid li a{
	color: #cd375e;
}

.catagory-item3 .item-top{
	background-color: #78538e;
}
.catagory-item3 .item-mid li a{
	color:#78538e;
}

.catagory-item4 .item-top{
	background-color: #5e6c90;
}
.catagory-item4 .item-mid li a{
	color: #5e6c90;
}

.catagory-container3 .item-top{
	background-color: #488bad;
	margin-bottom: 10px;
}
.catagory-container3 .item-mid li a{
	color: #488bad;
}

.catagory-item7 .item-top{
	background-color: #3aaba9;
}
.catagory-item7 .item-mid li a{
	color: #3aaba9;
}

.catagory-item8 .item-top{
	background-color: #568e7d;
}
.catagory-item8 .item-mid li a{
	color: #568e7d;
}

.catagory-container5 .item-top{
	background-color: #eeb924;
	margin-bottom: 10px;
}
.catagory-container5 .item-mid li a{
	color: #eeb924;
}

.catagory-item11 .item-top{
	background-color: #e16c46;
}
.catagory-item11 .item-mid li a{
	color: #e16c46;
}
.catagory-item12 .item-top{
	background-color: #a56741;
}
.catagory-item12 .item-mid li a{
	color: #a56741;
}

.catagory-item13 .item-top{
	background-color: #756059;
}
.catagory-item13 .item-mid li a{
	color: #756059;
}
.catagory-item14 .item-top{
	background-color: #865454;
}
.catagory-item14 .item-mid li a{
	color: #865454;
}

.catagory-item15 .item-top{
	background-color: #6467a0;
}
.catagory-item15 .item-mid li a{
	color: #6467a0;
}
.catagory-item16 .item-top{
	background-color: #5a7259;
}
.catagory-item16 .item-mid li a{
	color: #5a7259;
}

.catagory-item17 .item-top{
	background-color: #5981a3;
}
.catagory-item17 .item-mid li a{
	color: #5981a3;
}
.catagory-item18 .item-top{
	background-color: #708d33;
}
.catagory-item18 .item-mid li a{
	color: #708d33;
}

/* catagory-item's image animation Method1: move to left */
.catagory .item-mid .mid-item1 a{
	display: block;
	width: 183px;
	height: 260px;
}
.catagory .item-mid .mid-item6 a,
.catagory .item-mid .mid-item7 a,
.catagory .item-mid .mid-item8 a
{
	display: inline-block;
	width: 183px;
	height: 130px;
}
.catagory-item1 .item-mid .mid-item1 a{
	background: url('../img/fz_city.jpg') no-repeat;
}
.catagory-item1 .item-mid .mid-item6 a{
	background: url('../img/fashion.jpg') no-repeat;
}
.catagory-item1 .item-mid .mid-item7 a{
	background: url('../img/watch.jpg') no-repeat;
}
.catagory-item1 .item-mid .mid-item8 a{
	background: url('../img/zhubao.jpg') no-repeat;
}

.catagory-item2 .item-mid .mid-item1 a{
	background: url('../img/meizhuang.jpg') no-repeat;
}
.catagory-item2 .item-mid .mid-item6 a{
	background: url('../img/gerenhuli.jpg') no-repeat;
}
.catagory-item2 .item-mid .mid-item7 a{
	background: url('../img/zhipin.jpg') no-repeat;
}
.catagory-item2 .item-mid .mid-item8 a{
	background: url('../img/qqmz.jpg') no-repeat;
}

.catagory-item3 .item-mid .mid-item1 a{
	background: url('../img/jdg.jpg') no-repeat;
}
.catagory-item3 .item-mid .mid-item6 a{
	background: url('../img/xiapu.jpg') no-repeat;
}
.catagory-item3 .item-mid .mid-item7 a{
	background: url('../img/haierqj.jpg') no-repeat;
}
.catagory-item3 .item-mid .mid-item8 a{
	background: url('../img/bxxyj.jpg') no-repeat;
}

.catagory-item4 .item-mid .mid-item1 a{
	background: url('../img/shouji.jpg') no-repeat;
}
.catagory-item4 .item-mid .mid-item6 a{
	background: url('../img/xmnote3.jpg') no-repeat;
}
.catagory-item4 .item-mid .mid-item7 a{
	background: url('../img/wt.jpg') no-repeat;
}
.catagory-item4 .item-mid .mid-item8 a{
	background: url('../img/plp.jpg') no-repeat;
}

.catagory-item5 .item-mid .mid-item1 a{
	background: url('../img/dnbg.jpg') no-repeat;
}
.catagory-item5 .item-mid .mid-item6 a{
	background: url('../img/hhpd.jpg') no-repeat;
}
.catagory-item5 .item-mid .mid-item7 a{
	background: url('../img/fcyhg.jpg') no-repeat;
}
.catagory-item5 .item-mid .mid-item8 a{
	background: url('../img/yjhw.jpg') no-repeat;
}

.catagory-item6 .item-mid .mid-item1 a{
	background: url('../img/znsm.jpg') no-repeat;
}
.catagory-item6 .item-mid .mid-item6 a{
	background: url('../img/wrj.jpg') no-repeat;
}
.catagory-item6 .item-mid .mid-item7 a{
	background: url('../img/xpcy.jpg') no-repeat;
}
.catagory-item6 .item-mid .mid-item8 a{
	background: url('../img/xmzn.jpg') no-repeat;
}

.catagory-item7 .item-mid .mid-item1 a{
	background: url('../img/fz_city.jpg') no-repeat;
}
.catagory-item7 .item-mid .mid-item6 a{
	background: url('../img/fashion.jpg') no-repeat;
}
.catagory-item7 .item-mid .mid-item7 a{
	background: url('../img/watch.jpg') no-repeat;
}
.catagory-item7 .item-mid .mid-item8 a{
	background: url('../img/zhubao.jpg') no-repeat;
}

.catagory-item8 .item-mid .mid-item1 a{
	background: url('../img/meizhuang.jpg') no-repeat;
}
.catagory-item8 .item-mid .mid-item6 a{
	background: url('../img/gerenhuli.jpg') no-repeat;
}
.catagory-item8 .item-mid .mid-item7 a{
	background: url('../img/zhipin.jpg') no-repeat;
}
.catagory-item8 .item-mid .mid-item8 a{
	background: url('../img/qqmz.jpg') no-repeat;
}

.catagory-item9 .item-mid .mid-item1 a{
	background: url('../img/jdg.jpg') no-repeat;
}
.catagory-item9 .item-mid .mid-item6 a{
	background: url('../img/xiapu.jpg') no-repeat;
}
.catagory-item9 .item-mid .mid-item7 a{
	background: url('../img/haierqj.jpg') no-repeat;
}
.catagory-item9 .item-mid .mid-item8 a{
	background: url('../img/bxxyj.jpg') no-repeat;
}

.catagory-item10 .item-mid .mid-item1 a{
	background: url('../img/shouji.jpg') no-repeat;
}
.catagory-item10 .item-mid .mid-item6 a{
	background: url('../img/xmnote3.jpg') no-repeat;
}
.catagory-item10 .item-mid .mid-item7 a{
	background: url('../img/wt.jpg') no-repeat;
}
.catagory-item10 .item-mid .mid-item8 a{
	background: url('../img/plp.jpg') no-repeat;
}

.catagory-item11 .item-mid .mid-item1 a{
	background: url('../img/dnbg.jpg') no-repeat;
}
.catagory-item11 .item-mid .mid-item6 a{
	background: url('../img/hhpd.jpg') no-repeat;
}
.catagory-item11 .item-mid .mid-item7 a{
	background: url('../img/fcyhg.jpg') no-repeat;
}
.catagory-item11 .item-mid .mid-item8 a{
	background: url('../img/yjhw.jpg') no-repeat;
}

.catagory-item12 .item-mid .mid-item1 a{
	background: url('../img/znsm.jpg') no-repeat;
}
.catagory-item12 .item-mid .mid-item6 a{
	background: url('../img/wrj.jpg') no-repeat;
}
.catagory-item12 .item-mid .mid-item7 a{
	background: url('../img/xpcy.jpg') no-repeat;
}
.catagory-item12 .item-mid .mid-item8 a{
	background: url('../img/xmzn.jpg') no-repeat;
}

.catagory-item13 .item-mid .mid-item1 a{
	background: url('../img/fz_city.jpg') no-repeat;
}
.catagory-item13 .item-mid .mid-item6 a{
	background: url('../img/fashion.jpg') no-repeat;
}
.catagory-item13 .item-mid .mid-item7 a{
	background: url('../img/watch.jpg') no-repeat;
}
.catagory-item13 .item-mid .mid-item8 a{
	background: url('../img/zhubao.jpg') no-repeat;
}

.catagory-item14 .item-mid .mid-item1 a{
	background: url('../img/meizhuang.jpg') no-repeat;
}
.catagory-item14 .item-mid .mid-item6 a{
	background: url('../img/gerenhuli.jpg') no-repeat;
}
.catagory-item14 .item-mid .mid-item7 a{
	background: url('../img/zhipin.jpg') no-repeat;
}
.catagory-item14 .item-mid .mid-item8 a{
	background: url('../img/qqmz.jpg') no-repeat;
}

.catagory-item15 .item-mid .mid-item1 a{
	background: url('../img/jdg.jpg') no-repeat;
}
.catagory-item15 .item-mid .mid-item6 a{
	background: url('../img/xiapu.jpg') no-repeat;
}
.catagory-item15 .item-mid .mid-item7 a{
	background: url('../img/haierqj.jpg') no-repeat;
}
.catagory-item15 .item-mid .mid-item8 a{
	background: url('../img/bxxyj.jpg') no-repeat;
}

.catagory-item16 .item-mid .mid-item1 a{
	background: url('../img/shouji.jpg') no-repeat;
}
.catagory-item16 .item-mid .mid-item6 a{
	background: url('../img/xmnote3.jpg') no-repeat;
}
.catagory-item16 .item-mid .mid-item7 a{
	background: url('../img/wt.jpg') no-repeat;
}
.catagory-item16 .item-mid .mid-item8 a{
	background: url('../img/plp.jpg') no-repeat;
}

.catagory-item17 .item-mid .mid-item1 a{
	background: url('../img/dnbg.jpg') no-repeat;
}
.catagory-item17 .item-mid .mid-item6 a{
	background: url('../img/hhpd.jpg') no-repeat;
}
.catagory-item17 .item-mid .mid-item7 a{
	background: url('../img/fcyhg.jpg') no-repeat;
}
.catagory-item17 .item-mid .mid-item8 a{
	background: url('../img/yjhw.jpg') no-repeat;
}

.catagory-item18 .item-mid .mid-item1 a{
	background: url('../img/znsm.jpg') no-repeat;
}
.catagory-item18 .item-mid .mid-item6 a{
	background: url('../img/wrj.jpg') no-repeat;
}
.catagory-item18 .item-mid .mid-item7 a{
	background: url('../img/xpcy.jpg') no-repeat;
}
.catagory-item18 .item-mid .mid-item8 a{
	background: url('../img/xmzn.jpg') no-repeat;
}


/* catagory-item's image animation Method1: move to left */
/* .mid-mid-bot a img{
	display: inline-block;
	width: 183px;
}
.mid-mid-bot a img.move-left{
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	transition-duration: 600ms;
}
.mid-mid-bot a img.move-right{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	transition-duration: 600ms;
}
*/



/* footer-container start */
.footer-container{
	background-color: #eaeaea;
}

/* footer-service start */
.footer-service{
	height: 42px;
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}
.footer-service-content{
	height: 42px;
	line-height: 42px;
}
.footer-service-content li{
	text-indent: 44px;
	height: 42px;
	float: left;
	margin: 0 30px;
	width: 237px;
	overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.footer-service-content .service-item1{
	background: url('../img/service.png') no-repeat ;
}
.footer-service-content .service-item2{
	background: url('../img/service.png') no-repeat 0 -42px ;
}
.footer-service-content .service-item3{
	background: url('../img/service.png') no-repeat 0 -84px ;
}
.footer-service-content .service-item4{
	background: url('../img/service.png') no-repeat 0 -125px ;
}

/* footer-nav-list start */
.footer-nav{
	height: 199px;
	border-bottom: 1px solid #dedede;
}
.footer-nav-list{
	width: 990px;
}
.footer-nav-list > li{
	width: 158px;
	float: left;
	padding-left: 40px;
}
.footer-nav-list h3{
	margin-bottom: 6px;
}
.footer-nav-small-list{
	float: left;
	line-height: 22px;
}
.footer-nav-region{
	width: 180px;
	height: 150px;
	margin-top: 25px;
	padding: 0 10px;
	background: url('../img/ico_footer.png') no-repeat;
}
.footer-nav-region h3{
	margin-top: -10px;
	text-align: center;
}
.footer-nav-region-content{
	padding-top: 2px;
}
.foot-nav-region-details{
	text-align: right;
	margin-top: -10px;
}

/* footer-connect start */
.footer-connect{
	height: 193px;
}
.footer-connect{
	text-align: center;
}
.link-split{
	display: inline-block;
	margin: 0 10px;
	color: #ccc;
}

/* copyright start */
.foooter-connect-copyright{
	color: #999;
	line-height: 22px;
}
.foooter-connect-copyright a{
	color: #999;
}
.foooter-connect-copyright p{
	margin: 4px 0;
}

/* footer-connect-img start */
.footer-connect-img{
	height: 32px;
	margin: 10px 0;
}
.footer-connect-img a{
	display: inline-block;
	width: 103px;
	height: 32px;
	font-size: 0;
	margin: 0 3px;
	line-height: 32px;
}
.footer-connect-img a:nth-child(1){
	background: url('../img/ico_footer.png') no-repeat 0 -151px
}
.footer-connect-img a:nth-child(2){
	background: url('../img/ico_footer.png') no-repeat -104px -151px
}
.footer-connect-img a:nth-child(3){
	background: url('../img/ico_footer.png') no-repeat 0px -184px
}
.footer-connect-img a:nth-child(4){
	background: url('../img/ico_footer.png') no-repeat -104px -184px
}
.footer-connect-img a:nth-child(5){
	background: url('../img/ico_footer.png') no-repeat 0px -217px
}
.footer-connect-img a:nth-child(6){
	background: url('../img/ico_footer.png') no-repeat -104px -217px
}


/* leftbar start */
.leftbar-items{
	background-color: #918888;
	position: fixed;
	top: 100px;
	left: 10px;
	box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}
.leftbar-items li{
	width: 34px;
	border-bottom: 1px solid #b1aaaa;
	text-align: center;
	line-height: 14px;
}
.leftbar-items li a{
	display: inline-block;
	padding: 7px 0;
	color: #fefefe;
	width: 34px;
}
.leftbar-items li a:hover{
	background-color: #c81623;
}
.current-leftbar-item{
	background-color: #c81623;
}
.catagory-back{
	background-color: #666;
	padding: 7px 5px;
}
.leftbar-items .catagory-back:hover{
	background-color: #666;
}
.back-arrow {
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #666 #666 #fff;
}

/* rightbar start */
.rightbar{
	position: fixed;
	height: 100%;
	width: 305px;
	right: -305px;
	top: 0;
	z-index: 100;
	/* transition:all .5s ease; */
}
.rightbar .sidebar{
  width: 35px;
  position: absolute;
  top: 50%;
  margin-top: -62px;
  left: -35px;
}
.rightbar .sidebar li:nth-child(1) .vip-rect{
	position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background: url('../img/toolbars.png') no-repeat -150px -150px;
    /* background-position: -150px -150px; */
    /* z-index: 999; */
}
.rightbar .rightline {
  position: absolute;
  top: 0;
  left: -6px;
  width: 0;
  height: 100%;
  border-right: 6px solid #7a6e6e;
}
.rightbar li {
  width: 35px;
  height: 35px;
  margin-top: 1px;
  border-radius: 3px;
  background-color: #7a6e6e;
  position: relative;
  cursor: pointer;
}
.rightbar li i {
  display: inline-block;
  width: 34px;
  height: 35px;
  border-radius: 5px;
  background-image: url('../img/toolbars.png');
  background-repeat: no-repeat;
  background-color: #7a6e6e;
  z-index: 10;
}
.rightbar li span {
  height: 35px;
  width: 0px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  color: #fff;
  background-color:#7a6e6e;
  line-height: 35px;
  position: absolute;
  top: 0;
  right: 34px;
  z-index: -1;
  overflow: hidden;
}
.rightbar .cur i {
  background-color: #C81623;
  border-radius: 0;
}
.rightbar .cur span {
  background-color: #C81623;
}
.rightbar .cur .vip-rect{
	display: none;
}
.rightbar .sidebar .sidebar-vip i {
  background-position: -88px -175px;
}
.rightbar .sidebar .sidebar-shopcart i {
  background-position: -50px 0;
}
.rightbar .sidebar .sidebar-follow i {
  background-position: -50px -50px;
}
.rightbar .sidebar .sidebar-track i {
  background-position: -50px -100px;
}
.rightbar .sidebar .sidebar-message i {
  background-position: -190px -150px;
}
.rightbar .sidebar .sidebar-consult i {
  background-position: -50px -150px;
}

/* cover start */
#coverBox{
	width: 100%;
	background-color: rgba(6, 6, 6, 0.15);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#vipBox{
	width: 410px;
	height: 500px;
	background-color: #fff;
	position: fixed;
}
#vipBox .vip-h3{
	height: 30px;
	padding: 0 10px;
	background-color: #f3f3f3;
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	color: #666;
}
#vip_close{
	float: right;
	width: 13px;
	height: 13px;
	margin-top: 8px;
	margin-right: 6px;
	background-image: url('../img/close.png') ;
}
.vip-content {
	width: 410px;
	height: 470px;
	background: url('../img/submit.png') no-repeat -2px;
}
.rightbar .totop {
  position: absolute;
  margin-top: 150px;
  width: 35px;
  bottom: 0;
  left: -35px;
}
.rightbar .totop .totop-tt i {
  background-position: -50px -250px;
}
.rightbar .totop .totop-feedback i {
  background-position: -50px -300px;
}

/* righthide start */
.righthide{
	width: 270px;
	height: 100%;
	position: absolute;
	top: 0;
}
.righthide .righthide-item{
	display: none;
	height: 100%;
}
#righthide-item1{
	background-color: #FFD2A5;
}
#righthide-item2{
	background-color: #FFA8B8;
}
